@font-face {
  font-family: 'Mada';
  src: url("../src/assets/fonts/Mada-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  font-family: 'Mada', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.containerApp {
  position: fixed;
  top: 150px;
  left: 55px;
  width: calc(100% - 55px);
  height: calc(100vh - 120px);
  display: flex;
  align-items: start;
}

